-r requirements.txt

bandit==1.7.9
black==24.4.2
build~=1.2.1
coverage~=7.6.0
flake8-pep585==0.1.7
flake8==7.1.0
httpx~=0.26.0
ipython~=8.18.1
isort==5.13.2
locust~=2.15.0
mypy==1.10.1
onnx~=1.16.1
pylint==3.2.5
setuptools~=67.0.0
tensorboard~=2.17.0
types-requests~=2.31.0
types-urllib3~=1.26.25
wheel
shap~=0.44.0